/* Feedify v1.1.2 by Sarah Dayan | https://sarahdayan.github.io/feedify */
* {
  outline: none !important;
}

body {
  background: #eee;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
}

.feedify {
  padding: 0 20px;
  background: #fff;
}
.feedify .feedify-item {
  border-bottom: 1px solid #eee;
  transition: all 0.2s ease-out;
}
.feedify .feedify-item .feedify-item-header {
  padding: 20px 0;
  background: #fff;
  z-index: 100;
}
.feedify .feedify-item .feedify-item-header h1 {
  margin: 0;
  font-size: 20px;
  line-height: 80px;
  font-weight: 600;
}
.feedify .feedify-item .feedify-item-header h2 {
  margin: 0;
  font-size: 16px;
  color: #bbb;
  line-height: 80px;
  font-weight: 600;
}
.feedify .feedify-item .feedify-item-header img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .feedify .feedify-item .feedify-item-header h1 {
    font-size: 18px;
    line-height: 60px;
  }
  .feedify .feedify-item .feedify-item-header img {
    width: 60px;
    height: 60px;
  }
}
.feedify .feedify-item footer {
  padding: 20px 0;
}
.feedify .feedify-item footer h3, .feedify .feedify-item footer h4 {
  line-height: normal;
  font-weight: 600;
}
.feedify .feedify-item footer h3 {
  margin-bottom: 20px;
  font-size: 16px;
}
.feedify .feedify-item footer h3 a {
  text-decoration: none;
}
.feedify .feedify-item footer h4 {
  margin: 0;
  margin-right: 10px;
  font-size: 14px;
}
.feedify .feedify-item footer .actions {
  margin-bottom: 20px;
  font-size: 30px;
  border-bottom: 1px solid #eee;
}

@font-face {
  font-family: 'Thinlines';
  src: url("../fonts/thinlines/thinlines.eot");
  src: url("../fonts/thinlines/thinlines.eot#iefix") format("embedded-opentype"), url("../fonts/thinlines/thinlines.woff") format("woff"), url("../fonts/thinlines/thinlines.ttf") format("truetype"), url("../fonts/thinlines/thinlines.svg#thinlines") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^='icon-']:before, [class*=' icon-']:before {
  font-family: 'Thinlines';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: '\e800';
}

.icon-speak:before {
  content: '\e801';
}

.icon-tripledot:before {
  content: '\e802';
}

.icon-expand:before {
  content: '\e803';
}

.icon-select:before {
  content: '\e804';
}

.icon-picture:before {
  content: '\e805';
}

.icon-coffee:before {
  content: '\e806';
}

.icon-leaf:before {
  content: '\e807';
}

.icon-markup:before {
  content: '\e808';
}
