/* Feedify v1.1.2 by Sarah Dayan | https://sarahdayan.github.io/feedify */
$grey: #eee;

* {
	outline: none !important;
}

body {
	background: $grey;
	font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	font-size: 14px;
	line-height: normal;
	font-weight: 400;
}

.feedify {
	padding: 0 20px;
	background: #fff;
	.feedify-item {
		border-bottom: 1px solid $grey;
		transition: all 0.2s ease-out;
		.feedify-item-header {
			padding: 20px 0;
			background: #fff;
			z-index: 100;
			h1 {
				margin: 0;
				font-size: 20px;
				line-height: 80px;
				font-weight: 600;
			}
			h2 {
				margin: 0; 
				font-size: 16px;
				color: #bbb;
				line-height: 80px;
				font-weight: 600;
			}
			img {
				width: 80px;
				height: 80px;
				margin-right: 20px;
			}
			@media (max-width: 767px) {
				h1 {
					font-size: 18px;
					line-height: 60px;
				}
				img {
					width: 60px;
					height: 60px;
				}
			}
		}
		footer {
			padding: 20px 0;
			h3, h4 {
				line-height: normal;
				font-weight: 600;
			}
			h3 {
				margin-bottom: 20px;
				font-size: 16px;
				a {
					text-decoration: none;
				}
			}
			h4 {
				margin: 0;
				margin-right: 10px;
				font-size: 14px;
			}
			.actions {
				margin-bottom: 20px;
				font-size: 30px;
				border-bottom: 1px solid $grey;
			}
		}
	}
}

@font-face {
	font-family: 'Thinlines';
	src: url('../fonts/thinlines/thinlines.eot');
	src: url('../fonts/thinlines/thinlines.eot#iefix') format('embedded-opentype'),
		url('../fonts/thinlines/thinlines.woff') format('woff'),
		url('../fonts/thinlines/thinlines.ttf') format('truetype'),
		url('../fonts/thinlines/thinlines.svg#thinlines') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-']:before, [class*=' icon-']:before {
	font-family: 'Thinlines';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
 
.icon-heart:before { content: '\e800'; }
.icon-speak:before { content: '\e801'; }
.icon-tripledot:before { content: '\e802'; }
.icon-expand:before { content: '\e803'; }
.icon-select:before { content: '\e804'; }
.icon-picture:before { content: '\e805'; }
.icon-coffee:before { content: '\e806'; }
.icon-leaf:before { content: '\e807'; }
.icon-markup:before { content: '\e808'; }
